header {
  text-align:center;
}

header.big {
  margin:50px 0px;
  transition: all .5s ease-in-out;
}

header.small {
  margin:20px 0px;
  transition: all .5s ease-in-out;
}

header.big img {
  max-height:200px;
  transition: all .5s ease-in-out;
}

header.small img {
  max-height:50px;
  transition: all .5s ease-in-out;
}

header img {
  width:90%;
  max-width:1000px;
}
