.home-buttons {
  text-align:center;
}

.home-button {
  display:inline-block;
  width:200px;
  padding:20px;
  margin:20px;
}

.home-button:hover {
  opacity:0.6;
  background:#eee;
  cursor:pointer;
}

.home-button h2 {
  font-size:200%;
  font-weight:normal;
  margin:0px;
  line-height:50px;
}

.home-button img {
  width:200px;
}

a .home-button {
  color:black;
}


body {
  font-family: 'Amiri', serif;
}
