.page {
  position:relative;
}

.page > main {
  position:absolute;
  width:100%;
}

.page-transition-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}

.page-transition-enter {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}
